/* header */

.header {
  background: white;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header .wrap {
  /* background: skyblue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
}

.header h1 img {
  width: 165px;
}

.header .menuWrap ul {
  display: flex;
  gap: 100px;
}

/* visual  */
.visual {
  height: 100vh;
  /* min-height: 700px; */
  background-color: pink;
  /* background-image: url(../img/img01_01.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  color: white;
  position: relative;
}
.visual .swiper {
  width: 100%;
  height: 100%;
  background: skyblue;
}
.visual .swiper .swiper-wrapper {
  background: blue;
}

/* visual img */
.visual .swiper .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url(img/img01_01.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.visual .swiper .slide.bgimg1 {
  background-image: url(../img/img01_01.jpg);
}
.visual .swiper .slide.bgimg2 {
  background-image: url(../img/img01_02.jpg);
}
.visual .swiper .slide.bgimg3 {
  background-image: url(../img/img01_03.jpg);
}
.visual .swiper .slide.bgimg4 {
  background-image: url(../img/img01_04.jpg);
}

.visual .swiper .textWrap {
  width: 1280px;
  color: white;
}
.visual .swiper .textWrap .sub {
  margin-bottom: 20px;
}
.visual .btnWrap {
  position: absolute;
  left: 150px;
  bottom: 250px;
  z-index: 999;
}
/* section 01 */
.sec01 {
  height: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sec01 p {
  align-self: flex-end;
}
.sec01 .h4 {
  font-size: 44px;
}
.sec01 .p {
  font-size: 18px;
}
.sec01 .h4::after {
  content: "";
  width: 80px;
  height: 5px;
  background: yellow;
  display: block;
  margin-top: 10px;
}

.py-3 {
  padding: 30px 0;
}
/* content */

.cont01 {
  height: 300px;
  justify-content: space-between;
}
.cardwrap {
  display: flex;
  /* gap: 15px; */
  justify-content: space-between;
}
.card {
  width: 350px; /* 원래이미지를 조절가능 */
  background: white;
  /* box-shadow:  0 0 20px skyblue;      */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 3); */ /* 그림자 */
  transition: 0.3s;
}
.card .card-body {
  padding: 16px;
}
.card .card-body p {
}
.card .card-body h3 {
}

.card:hover {
  transform: translate(0px, -10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 3); /*그림자 */
}
.card .card-body {
  padding: 16px;
}

/* footer */
.footer {
  background: rgb(173, 173, 173);
  width: 100%;
  z-index: 2;
}

.footer .wrap {
  /* background: skyblue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
}

.footer h1 img {
  width: 165px;
}

.footer .menuWrap ul {
  display: flex;
  gap: 100px;
}
.f_cardwrap {
  display: flex;
  /* gap: 15px; */
  justify-content: space-between;
}
.f_card {
  width: 350px; /* 원래이미지를 조절가능 */
  background: white;
  /* box-shadow:  0 0 20px skyblue;      */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 3); */ /* 그림자 */
  /* transition: 0.3s; */
}
.f_card .f_card-body {
  padding: 16px;
}
